.popover-class{
  padding-top: 0px;
  height: 40px;
}

.popover-antmenuitem{
  text-decoration: none !important;
}

.info-admin{
  padding-top: 5px;
  height: 40px;
  vertical-align: middle;
  display: flex;
}